/* -----------------------------------------------------------------Description moi------------------------------------------------------------------------------ */

.presentation {
    padding: 350px 0; /* Add top and bottom spacing to center the content */
    text-align: center;
    @media screen and (max-width: $breakpoint-md) {
        padding: 200px 0; /* Tablette */
    }
    @media screen and (max-width: $breakpoint-xs) {
        padding: 200px 0; /* mobile */
    }
}

.presentation-content h1 {
    font-size: var(--font-size-hero); /* Large main title */
    margin: 0;
}

.presentation-content p {
    font-size: var(--font-size-h1); /* Large main title */

    margin: 0;
    @media screen and (max-width: $breakpoint-md) {
        font-size: var(--font-size-h1); /* Large main title */
    }
    @media screen and (max-width: $breakpoint-xs) {
        font-size: var(--font-size-h3); /* Large main title */
        text-align: left;
        margin: 0 10px;
    }
}

.subtitle {
    font-size: 1.5rem; /* Subtitle with lighter emphasis */
    margin-bottom: 40px; /* Add spacing between title and description */
    font-weight: 300;
    color: #333;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 60px;
    line-height: 1.6;
}

span {
    font-weight: bold;
    color: var(
        --color-primary
    ); /* Highlighted color similar to the button in the image */
}

.highlight {
    font-size: var(--font-size-h4);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 0;

    .wrapper {
        display: flex;
        gap: 40px; /* Space between the image and passions */

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
        }
        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
        }
    }
}

.apropos-content {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    margin: 0;
}

/* Style for the image */
.presentation-media {
    flex: 1;
}

.presentation-media img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Flexbox for the passions section */
.passions {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow the passions to take remaining space */
    gap: 20px; /* Space between the left and right sections */
}

/* -----------------------------------------------------------------Section je suis------------------------------------------------------------------------------ */
.cascade-text {
    display: inline-block;
    overflow: hidden;
    font-size: var(--font-size-hero);
    line-height: 1.1; /* Adjusts space for taller letters */
    padding-bottom: 0.1em; /* Ensures letters like J aren’t cut off */
}

.cascade-text-span {
    overflow: hidden;
}

.cascade-text span {
    display: inline-block;
    transform: translateY(-100%);
    opacity: 0;
    animation: dropIn 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}

@keyframes dropIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.personnaliter {
    text-align: center;

    padding: 100px 0 150px 0;
}

.personnaliter-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: 50px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        flex-direction: column;
        gap: 50px;
    }
}

.personnalite-item {
    cursor: url('../assets/cursor/custom-cursor.png') 32 32, auto;
    transition: transform 0.1s ease-out;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #ef719e, var(--color-black));
    color: white;
    margin: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    perspective: 1000px;
    transform: scale(1); /* Initial scale */
    box-shadow: -2px -2px 20px rgba(255, 105, 180, 0.7); /* Optional glowing effect */
}

.personnalite-item.hover-effect {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(1.1); /* Rotation and scaling on hover */
}

.img-hover.hover-effect {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(1.02); /* Rotation and scaling on hover */
}

/* For smoother transitions when mouse leaves */
.personnalite-item.hover-effect {
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}
.img-hover.hover-effect {
    transition: transform 0.5s ease-out;
}

/* General adjustments */
@media (max-width: 768px) {
    .presentation-moi {
        grid-template-columns: 1fr; /* Stack the image and content on mobile */
        gap: 20px;
    }

    .passions {
        flex-direction: column; /* Stack passions vertically on mobile */
        gap: 20px;
    }
}

/* -----------------------------------------------------------------Section mes competences/outils------------------------------------------------------------------------------ */

.title {
    text-align: left;
    position: relative;
}
.outils h1 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.list-competences {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

/* Styles for articles within the slides */
.outils-container {
    position: relative;
    font-size: 20px;
    margin: 0;
    gap: 10px;
}
.outils-container-1 {
    display: block;
    position: relative;
    font-size: 20px;
    margin: 0;
    gap: 10px;
}
.outils-container-2 {
    display: none;
    position: relative;
    font-size: 20px;
    margin: 0;
    gap: 10px;
}
.outils-container-3 {
    display: none;
    position: relative;
    font-size: 20px;
    margin: 0;
    gap: 10px;
}

.flexbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        padding: 0;
        text-align: center;
    }
    @media screen and (max-width: $breakpoint-xs) {
        grid-template-columns: 1fr 1fr;
        padding: 0;
        text-align: center;
    }
}

.flexbox {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack images and text vertically */
    justify-content: space-between;
    align-items: center; /* Center align items */
    margin: 10px; /* Space around each item */
    padding: 20px 0;
}

/* Image styles */
.flexbox img {
    width: 60px; /* Set a consistent icon size */
    height: 60px; /* Set a consistent icon size */
    margin-bottom: 10px; /* Space between image and text */
    @media screen and (max-width: $breakpoint-md) {
        width: 50px;
        height: 50px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        width: 50px;
        height: 50px;
    }
}

.flexbox p {
    font-family: var(--font-secondary);
    font-size: var(--font-size-tags-projets);
}

/* Styles for lists in the skills slide */

.custom-c1 h2 {
    padding: 20px;
}
.custom-c2 h2 {
    position: absolute;
    padding: 20px;
    top: 0;
}

.custom-c3 h2 {
    padding: 20px;
}

.btn-click {
    z-index: 15;
    position: absolute;
    right: 20%;
    top: 18%;
    transform: rotate(-15deg);
}

.btn-click-1 {
    right: 15%;
    top: 18%;
    transform: rotate(-15deg);
    @media screen and (max-width: $breakpoint-md) {
        transform: rotate(0deg);
        right: 24%;
        top: 15%;
    }
    @media screen and (max-width: $breakpoint-sm) {
        transform: rotate(0deg);
        right: 24%;
        top: 15%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        transform: rotate(0deg);
        right: 24%;
        top: 15%;
    }
}

.btn-click-2 {
    right: 20%;
    top: 18%;
    transform: rotate(-15deg);

    @media screen and (max-width: $breakpoint-md) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }
    @media screen and (max-width: $breakpoint-sm) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }
}

.btn-click-3 {
    right: 23%;
    top: 18%;
    transform: rotate(-15deg);
    @media screen and (max-width: $breakpoint-md) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }
    @media screen and (max-width: $breakpoint-sm) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        transform: rotate(0deg);
        right: 24%;
        top: 12%;
    }
}
