.btn {
    color: white;
    background: linear-gradient(
        135deg,
        #ff7eb9,
        #ff758c,
        #ff6f91
    ); /* Dégradé vibrant */
    margin-top: 20px;
    padding: 15px 40px; /* Taille du bouton */
    border: none;
    border-radius: 50px; /* Bordure arrondie */
    font-size: 1.2rem; /* Taille de la police */
    font-weight: bold;
    text-transform: uppercase; /* Mettre le texte en majuscules */
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour l'animation */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* Ombre portée */
    position: relative;
    overflow: hidden; /* Masquer les animations qui sortent */
}

/* Effet de survol */
.btn:hover {
    background: linear-gradient(
        135deg,
        #ff758c,
        #ff6f91,
        #ff85a9
    ); /* Couleurs du dégradé changent légèrement au survol */
    color: var(--color-secondary);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Augmentation de l'ombre pour un effet de profondeur */
    transform: scale(1.05); /* Légère augmentation de taille au survol */
    overflow: hidden; /* Masquer les animations qui sortent */
}

/* Ajout d'un effet d'animation au survol */
.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    background: rgba(255, 255, 255, 0.3); /* Un léger halo blanc au survol */
    transition: all 0.6s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    overflow: hidden; /* Masquer les animations qui sortent */
}

.btn:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Animation d'onde circulaire au survol */
}

/* Animation de texte à l'intérieur */
.btn span {
    position: relative;
    z-index: 2;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Effet lumineux qui glisse */
    transition: all 0.5s ease;
}

.btn:hover::after {
    left: 100%; /* Animation glissante de gauche à droite au survol */
}


