
.heropage2{
    background-color: var(--color-white);
    
}

.recette-like{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}



.recette{
    background-color: white;
    color: var(--color-black);
    padding: 0;
}


.gridrecette{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        
    }
}

.card-contenu{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    width: 476px;
    margin-top: -100px;
    margin-left: 150px;
    padding: 46px 31px;
    @media screen and (max-width: $breakpoint-sm) {
        margin: 0;
        width: 100%;
        height: fit-content;
    }
    
}




.conferencier .wrapper{
    
        @media screen and (max-width: $breakpoint-sm) {
            margin: 0;
            width: 100%;
        }
    
    
}