.fiche-projet {
    p {
        font-family: var(--font-secondary);
    }
    h3 {
        font-family: var(--font-secondary);
    }
    li {
        font-family: var(--font-secondary);
    }
}

.credit {
    font-size: var(--font-size-tags-projets);
}

.projet-media img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.summary h1 {
    padding-top: 150px;
    margin: 0;
}

.summary span {
    color: var(--color-primary);
}

.logiciels img {
    padding: 10px;
    width: 90px;
    height: 90px;
    margin-top: 20px;
    border-radius: 5px;
}

/* Conteneur général du swiper */
.summary-side-right {
    position: relative;
    width: 100%; /* S'adapte à la largeur du conteneur parent */
    overflow: hidden; /* Évite les débordements */
    max-width: 100vw; /* Empêche de dépasser la largeur de la fenêtre */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la taille totale */
    .iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
    iframe {
        width: 100vw;
        height: 90vh;
    }
}

/* Les slides du swiper */
.swiper-slide {
    width: 100%; /* Chaque slide occupe 100% du conteneur */
    max-width: 100vw; /* Empêche le débordement en largeur */
    text-align: center; /* Centre l'image dans le slide */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la taille totale */
}

/* Assure que les images prennent la largeur du slide */
.swiper-slide img {
    width: 100%;
    height: auto;
    display: block; /* Évite les marges automatiques */
}

.swiper-pagination {
    text-align: center;

    width: 100%;
}

.swiper-pagination-bullet {
    background: var(--color-white);
    width: 16px;
    height: 16px;

    opacity: 1;
    display: inline-block;
    margin-right: 5px;

    @media screen and (max-width: $breakpoint-xs) {
        width: 8px;
        height: 8px;
    }
}

.swiper-pagination-bullet-active {
    background: var(--color-primary);
    width: 32px;
    height: 16px;
    border-radius: 18px;
    opacity: 1;
    display: inline-block;
    margin-right: 5px;
    @media screen and (max-width: $breakpoint-xs) {
        width: 16px;
        height: 8px;
    }
}
