.projets-title h1 {
    padding: 50px 0 0 0;
    font-size: var(--font-size-hero);
    transform: translateX(-125%); /* Start hidden to the left */
    animation: slideIn 0.8s ease-out forwards; /* Smooth slide-in */
    span {
        margin-left: 150px;
        display: inline-block;
        transform: translateX(-100%); /* Start hidden to the left */
        opacity: 0;
        animation: slideIn 1s ease-out forwards; /* Smooth slide-in */
        @media screen and (max-width: $breakpoint-sm) {
            margin-left: 50px;
        }
        @media screen and (max-width: $breakpoint-xs) {
            margin-left: 50px;
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.projet-1 {
    margin-top: 125px;
}

.projet-gauche {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 120px 0;
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: $breakpoint-xs) {
        grid-template-columns: 1fr;
    }
}

.projet-droite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 120px 0;
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: $breakpoint-xs) {
        grid-template-columns: 1fr;
    }
}

.projet-content {
    h2 {
        font-family: var(--font-primary);
    }
    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-tags-projets);
    }
    @media screen and (max-width: $breakpoint-sm) {
    }
    @media screen and (max-width: $breakpoint-xs) {
    }
}

.cta-voir-projet {
    width: initial;
}

.projet-image-web {
    scale: 1.1;
    @media screen and (max-width: $breakpoint-md) {
        scale: 1.1;
        order: -1;
    }
    @media screen and (max-width: $breakpoint-sm) {
        scale: 1.1;
        order: -1;
    }
    @media screen and (max-width: $breakpoint-xs) {
        scale: 1.1;
        order: -1;
    }
}

.projet-image-droite {
    @media screen and (max-width: $breakpoint-md) {
        order: -1;
    }
    @media screen and (max-width: $breakpoint-sm) {
        order: -1;
    }
    @media screen and (max-width: $breakpoint-xs) {
        order: -1;
    }
}

.projet-legende p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-content);
}

.projet-legende img {
    display: flex;
    flex-direction: row;
    align-items: center;
}
