.zone_formulaire {
    padding: 70px 0 70px 0;
    h2{
        padding-top: 30px;
    }
}


.contact {
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;

    img {
        margin-right: 10px;
    }
}
