.zone_formulaire {
    padding: 70px 0 70px 0;
}

.contact {
    padding-top: 50px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    img {
        margin-right: 10px;
    }
}

.voirprojets {
    display: flex;
    justify-content: center;
    align-items: center;
}
