/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #EF719E;
    --color-secondary: #14FFBE;
    --color-bg-primary: #fff;
}
