{% include '_partials/_header.html' %}

<section class="mailme">
    <div class="wrapper">
        <div class="grid-contactez-moi">
            <div class="zone_formulaire">
                <h2>Créons ensemble !</h2>
                <div class="projets__media">
                    <img src="assets/images/background-sect_projets.png" alt="background-projets" />
                </div>
                <div class="contact">
                    <article class="phone">
                        <img src="assets/icons/telephone.svg" alt="phone" />
                        <a href="">438-836-2608</a>
                    </article>
                    <article class="courriel">
                        <img src="assets/icons/mail.svg" alt="mail" />
                        <a class="mail" href="index.html"> justinvalois.creative@gmail.com </a>
                    </article>

                    <article class="cv">
                        <img src="assets/icons/cv.svg" alt="cv" />
                        <a href="">Téléchargez mon CV !</a>
                    </article>
                </div>
            </div>
        </div>
        <div class="voirprojets">
            <a class="btn btn_mail" href="">Travaillons ensemble !</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
