{% include '_partials/_header.html' %}

<section class="mailme">
    <div class="wrapper">
        <div class="grid-contactez-moi">
            <div class="projets__media">
                <img src="assets/images/background_contact-1.png" alt="background-projets" />
            </div>
            <div class="coter_gauche">
                <h2>Créons ensemble !</h2>
                <article class="sociallink">
                    <a class="logoSocial" href="https://codepen.io/Justin-Valois-creative"
                        ><img src="assets/icons/codepen.svg" alt="logocodepen"
                    /></a>
                    <a class="logoSocial" href="https://github.com/SirGamer09"
                        ><img src="assets/icons/github.svg" alt="logogithub"
                    /></a>
                    <a class="logoSocial" href="https://www.linkedin.com/in/justin-valois-58697832a/"
                        ><img src="assets/icons/linkdin.svg" alt="logolinkdin"
                    /></a>
                    <a class="logoSocial" href="https://www.youtube.com/@JustinValois/videos"
                        ><img src="assets/icons/youtube.svg" alt="logoyoutube"
                    /></a>
                    <a class="logoSocial" href="https://www.artstation.com/justinvalois_creative"
                        ><img src="assets/icons/artstation.svg" alt="logoartstation"
                    /></a>
                    <a class="logoSocial" href="https://sketchfab.com/sirgamer69"
                        ><img src="assets/icons/sketchfab.svg" alt="logosketchfab"
                    /></a>
                </article>
            </div>
            <hr>

            <div class="coter_droit">
                
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
