{% include '_partials/_header.html' %}
<section class="fiche-projet">
    <div class="wrapper">
        <section class="summary">
            <div class="summary-content">
                <div class="projet-media">
                    <img src="assets/images/card-projet-3-hero.png" alt="card-1" />
                </div>
                <div class="sumarry-side-left">
                    <h1>Soucoupe Volante - résumé</h1>
                    <p>
                        La soucoupe est un projet étudiant réalisé dans le cours d’animation multimédia à
                        <span>l’hiver 2024</span>. Ce projet a été réalisé grâce à <span>Blender </span> pour la scène
                        et les éléments 3D et à <span>After effects</span> pour le montage et pour les VFX.
                    </p>
                    <div class="logiciels">
                        <p>Logiciels utilisés :</p>
                        <img src="assets/icons/blender.svg" alt="blender" />
                        <img src="assets/icons/aftereffects.svg" alt="aftereffects" />
                    </div>
                    <div class="credit">
                        <p>Réalisé par : <span>Justin Valois</span></p>
                        <p>Effets sonores de : <span>Soudsnap et pixabay</span></p>
                        <p>Assets de : <span>Blender et moi</span></p>
                        <p>Musique de : <span>Librairie Pixabay</span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="a-decouvrir">
            <div class="video-projet">
                <div class="video video-1" data-component="YouTube" data-video-id="Q-ZO5hTBPPA" data-scrolly="fromLeft">
                    <div class="video__media js-video">
                        <img class="js-poster" src="assets/images/video-1.jpg" alt="spectacle de musique" />
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-icone-video"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="etape-1">
            <div class="etape-1-content">
                <h1>1- Modélisation</h1>
                <p>
                    Une fois le scénario et mes idées bien organisées, j’ai commencé par le début de tout projet 3D : la
                    modélisation de la scène et des assets.
                </p>
                <div class="modelisation">
                    <h4>Objets modélisés</h4>
                    <ul>
                        <li>Le landscape</li>
                        <li>Les roches</li>
                        <li>Le skybox</li>
                        <li>La soucoupe</li>
                        <li>Les pieds mécaniques</li>
                    </ul>
                </div>
                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/etape-1-model-img1.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-1-model-img2.png" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-2">
            <div class="etape-1-content">
                <h1>2- Les textures</h1>
                <p>
                    Suite à la modélisation des mes assets, je suis passé à l’application des textures de ceux-ci. Pour
                    certaines de mes textures, j’ai dû opter pour l’utilisation de nodes pour créer des textures de
                    bonne qualités et intéressantes.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/etape-2-textures-img1.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-2-textures-img2.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-2-textures-img3.png" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-3">
            <div class="etape-1-content">
                <h1>3- L'éclairage</h1>
                <p>
                    L’éclairage est un élément très important dans la création d’une ambiance immersive. Puisque la
                    scène se déroule dans l’espace, j’ai opté pour un éclairage plus tamisé et sombre. <br />
                    Le vaisseau est équipé de lumières pour le repérer et j’ai utilisé la lumière du monde pour qu’on
                    puisse bien voir les décors de mon environnement.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/etape-3-eclairage-img1.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-3-eclairage-img2.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-3-eclairage-img3.png" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-4">
            <div class="etape-1-content">
                <h1>4- Le montage</h1>
                <p>
                    Pour démontrer le résultat final de mon animation pour la présenter à son plein potentiel, il était
                    impératif pour moi de rajouter des effets de post-production. J’ai ajouté des effets sonores, une
                    musique de fond, des effets visuels et ensuite j’ai fais l’exportation de ma séquence en format
                    vidéo.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/etape-4-montage-img1.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-4-montage-img2.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/etape-4-montage-img3.png" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="boutton-projet-suivant">
                <a
                    class="cta cta-suivant"
                    href="fiche_projet-4.html"
                    title="Continue Reading"
                    data-swiper-parallax="80"
                    data-swiper-parallax-opacity="0.2"
                    data-swiper-parallax-duration="1750"
                >
                    Projet suivant
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-short"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                        />
                    </svg>
                </a>
            </div>
        </section>
    </div>
</section>

<section class="video-presentation">
    <div class="wrapper">
        <div class="credit-footer">
            <p>2024 Valois Justin © Tous droits réservés</p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
