{% include '_partials/_header.html' %}
<section class="fiche-projet">
    <div class="wrapper">
        <section class="summary">
            <div class="summary-content">
                <div class="projet-media">
                    <img src="assets/images/card-projet-2.png" alt="card-1" />
                </div>
                <div class="sumarry-side-left">
                    <h1>Prototype de portfolio en PHP - résumé</h1>
                    <p>
                        Mon prototype de portfolio en PHP est un projet personnel réalisé durant
                        <span> l'été 2024</span>. Ce projet a été réalisé grâce à <span>WordPress </span> pour
                        l'hébergement de mon site et <span>VSCode</span> pour l'intégration HTML CSS et PHP.
                    </p>
                    <div class="logiciels">
                        <p>Logiciels utilisés :</p>
                        <img src="assets/icons/vscode.svg" alt="blender" />
                        <img src="assets/icons/wordpress.svg" alt="aftereffects" />
                    </div>
                    <div class="credit">
                        <p>Réalisé par : <span>Justin Valois</span></p>
                        <p>Images de : <span>Moi</span></p>
                    </div>
                    <div class="boutton-suivant">
                        <a
                            target="_blank"
                            class="cta cta-suivant"
                            href="https://jvalois.dectim.ca/projet_php_portfolio/"
                            title="Continue Reading"
                            data-swiper-parallax="80"
                            data-swiper-parallax-opacity="0.2"
                            data-swiper-parallax-duration="1750"
                        >
                            Voir le site
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-arrow-right-short"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="etape-1">
            <div class="etape-1-content">
                <h1>1- Intégration HTML - CSS</h1>
                <p>Voici un aperçu de l'intégration HTML et CSS du site.</p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-integration-1.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-integration-2.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-integration-3.jpg" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-2">
            <div class="etape-1-content">
                <h1>2- Intégration PHP</h1>
                <p>
                    Suite à la programmation HTML et CSS de mon site, il était maintenant temps d'adapter mes fichiers
                    pour qu'ils puissent fonctionnés avec Wordpress. Vous allez voir de ces fichiers.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-php-1.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-php-2.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-php-3.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-php-4.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-php-5.jpg" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-4">
            <div class="etape-1-content">
                <h1>3- Configuration ACF et CPT</h1>
                <p>
                    Pour faire afficher mon contenu de manière dynamique, j'ai eu recours au CPT et aux ACF de manière à
                    avoir le contrôle total si je souhaites changer mon contenu rapidement.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-config-1.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-config-2.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-config-3.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-2-config-4.jpg" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="boutton-projet-suivant">
                <a
                    class="cta cta-suivant"
                    href="fiche_projet-3.html"
                    title="Continue Reading"
                    data-swiper-parallax="80"
                    data-swiper-parallax-opacity="0.2"
                    data-swiper-parallax-duration="1750"
                >
                    Projet suivant
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-short"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                        />
                    </svg>
                </a>
            </div>
        </section>
    </div>
</section>

<section class="video-presentation">
    <div class="wrapper">
        <div class="credit-footer">
            <p>2024 Valois Justin © Tous droits réservés</p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
