{% include '_partials/_header.html' %}
<section class="fiche-projet">
    <div class="wrapper">
        <section class="summary">
            <div class="summary-content">
                <div class="projet-media">
                    <img src="assets/images/card-projet-1.png" alt="card-1" />
                </div>
                <div class="sumarry-side-left">
                    <h1>Refonte de Baie Sainte-Catherine - résumé</h1>
                    <p>
                        Baie Sainte-Catherine est un projet étudiant réalisé dans le cours de design d'expérience et de
                        conception web 4 à
                        <span>l’hiver 2024</span>. Ce projet avait pour but de simuler le design complet d'un site web
                        responsive et d'en faire l'intégration de A à Z. <br />
                        <br />
                        Ce projet a été réalisé grâce à <span>Figma </span> pour le design et le prototypage et à
                        <span>VS Code</span> pour l'intégration et la programmation web.
                    </p>
                    <div class="logiciels">
                        <p>Logiciels utilisés :</p>
                        <img src="assets/icons/figma.svg" alt="figma" />
                        <img src="assets/icons/vscode.svg" alt="vscode" />
                    </div>
                    <div class="credit">
                        <p>Réalisé par : <span>Justin Valois</span></p>
                        <p>Images libre de droits de : <span>Pixabay et Unsplash</span></p>
                    </div>
                    <div class="boutton-suivant">
                        <a
                            target="_blank"
                            class="cta cta-suivant"
                            href="https://jvalois.dectim.ca/refonte-site-web/"
                            title="Continue Reading"
                            data-swiper-parallax="80"
                            data-swiper-parallax-opacity="0.2"
                            data-swiper-parallax-duration="1750"
                        >
                            Voir le site
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-arrow-right-short"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="etape-1">
            <div class="etape-1-content">
                <h1>1- Design et moodboard</h1>
                <p>
                    Voici un aperçu de la conception du design du site. Vous pouvez y voir la conception du logo, le
                    moodboard, le wireframe et une des maquettes du design.
                </p>
                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-design-1.png" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-design-2.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-design-3.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-design-4.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-design-5.jpg" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-2">
            <div class="etape-1-content">
                <h1>2- Intégration web</h1>
                <p>
                    Suite à l'approbation du design par les professeurs de design et de web, j'avais le feu vert pour
                    commencer à intégrer en HTML, SCSS et JavaScript pour avoir un résultat final. Vous allez voir des
                    examples de codes, respectivement en HTML, SCSS et 2 composantes en javascript : Accordion et Form.
                </p>

                <div class="summary-side-right summary-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-code-1.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-code-2.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-code-3.jpg" alt="summaryimg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/projet-1-code-4.jpg" alt="summaryimg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="etape-4">
            <div class="etape-1-content">
                <h1>3- Le prototypage et résultat final</h1>
                <p>
                    Voici mon prototype figma en version desktop ainsi que le lien pour voir le résultat final de mon
                    intégration web en ligne.
                </p>

                <div class="summary-side-right">
                    <div class="iframe-container">
                        <iframe
                            src="https://embed.figma.com/proto/WvsJK9J064XQOtlyr4H0XC/1012_valois_justin_TP2?page-id=6693%3A743&node-id=6693-747&node-type=frame&viewport=474%2C458%2C0.14&scaling=scale-down&content-scaling=fixed&embed-host=share"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
            <div class="boutton-projet-suivant">
                <a
                    class="cta cta-suivant"
                    href="fiche_projet-2.html"
                    title="Continue Reading"
                    data-swiper-parallax="80"
                    data-swiper-parallax-opacity="0.2"
                    data-swiper-parallax-duration="1750"
                >
                    Projet suivant
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-short"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                        />
                    </svg>
                </a>
            </div>
        </section>
    </div>
</section>

<section class="video-presentation">
    <div class="wrapper">
        <div class="credit-footer">
            <p>2024 Valois Justin © Tous droits réservés</p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
