{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/demoreel_placeholder.png" alt="demoreel" />
        </div>
        <div class="hero__content">
            <h1>Justin Valois</h1>
            <p>
                Intégrateur web et <br />
                modélisateur 3D
            </p>
            <img class="fleche-cta" src="assets/icons/fleche-CTA.svg" alt="cta-fleche" />
        </div>
    </div>
</section>

<section class="projets">
    <div class="wrapper">
        <h2>Mes projets</h2>
        <div class="projets__media">
            <img src="assets/images/background-sect_projets.png" alt="background-projets" />
        </div>

        <div class="">
            <div class="projets__content">
                <article class="cards-projets">
                    <div class="cards-media-projets">
                        <img src="assets/images/card-projet-1.png" alt="" />
                        <a class="btn btn_projet" href="">Click moi !</a>
                    </div>
                    <div class="cards-content-projets">
                        <p>Projet étudiant <img src="assets/icons/separateur_rond.svg" alt="rond-separateur" /> 3D</p>
                        <h4>La soucoupe volante</h4>
                    </div>
                </article>

                <article class="cards-projets">
                    <div class="cards-media-projets">
                        <img src="assets/images/card-projet-2.png" alt="" />
                        <a class="btn btn_projet" href="">Click moi !</a>
                    </div>
                    <div class="cards-content-projets">
                        <p>Projet étudiant <img src="assets/icons/separateur_rond.svg" alt="rond-separateur" /> 3D</p>
                        <h4>La soucoupe volante</h4>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
