{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/demoreel_placeholder.png" alt="demoreel" />
        </div>
        <div class="hero__content">
            <h1>Justin Valois</h1>
            <p>
                Intégrateur web et <br />
                modélisateur 3D
            </p>
        </div>
    </div>
</section>

<section class="projets">
    <div class="wrapper">
        <div class="projets__media">
            <img src="assets/images/background-sect_projets.png" alt="background-projets" />
        </div>
        <div class="projets__content">
            <article class="cards-projets">
                <div class="cards-media-projets">
                    
                </div>
                <div class="cards-content-projets">

                </div>
            </article>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
